<form [formGroup]="changePasswordForm">
  <div>
    <mat-form-field>
        <mat-label for="nickname"><b>Nickname</b></mat-label>
        <input matInput name="nickname" type="text" placeholder="Enter Username" formControlName="nickname" required >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-label for="email"><b>Email address</b></mat-label>
        <input matInput name="email" type="email" placeholder="Enter Username" formControlName="email" required >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-label for="oldPassword"><b>Old Password</b></mat-label>
        <input matInput type="password" minlength="8"required name="oldPassword" placeholder="Enter Old Password" formControlName="oldPassword" >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label for="newPassword"><b>New Password</b></mat-label>
      <input matInput type="password" minlength="8"required name="newPassword" placeholder="Enter New Password" formControlName="newPassword" >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label for="confirmNewPassword"><b>Confirm New Password</b></mat-label>
      <input matInput type="password" minlength="8"required name="confirmNewPassword" placeholder="Confirm Password" formControlName="confirmNewPassword" >
    </mat-form-field>
  </div>
  <div style="display:flex; align-items: center;">
    <button mat-button color="accent" type="submit" [disabled]="(auth.amTalking$ | async)" (click)="changePassword()">Set Password</button>
    <mat-spinner color="primary" *ngIf="(auth.amTalking$ | async)" [diameter]="40"></mat-spinner>
  </div>
</form>  