<mat-toolbar color="primary">
    <span *ngIf="!(usersMe$ | async)" class="center-flex">
        <mat-spinner color="accent" diameter="20"></mat-spinner>
    </span>
    <span *ngIf="(usersMe$ | async)">{{(usersMe$ | async)?.nickname}}</span>
    <span>MoYa Web</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['chat']">
            <mat-icon color="primary">chat</mat-icon>
            <span>Chat</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="work">
            <mat-icon>work</mat-icon>
            <span>Work</span>
        </button>
    </mat-menu>
    <mat-menu #work="matMenu">
        <button mat-menu-item  [routerLink]="['work', 'queue']">
            <mat-icon color="primary">checklist</mat-icon>
            <span>Queue</span>
        </button>
        <button mat-menu-item  [routerLink]="['work', 'groups']">
            <mat-icon color="primary">groups</mat-icon>
            <span>Groups</span>
        </button>
        <button mat-menu-item  [routerLink]="['work', 'search']">
            <mat-icon color="primary">search</mat-icon>
            <span>Search</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>