<mat-toolbar color="primary">
    <span *ngIf="!(usersMe$ | async)" class="center-flex">
        <mat-spinner color="accent" diameter="20"></mat-spinner>
    </span>
    <span *ngIf="(usersMe$ | async)">{{(usersMe$ | async)?.nickname}}</span>
    <span>MoYa Web</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['chat']">
            <mat-icon color="primary">chat</mat-icon>
            <span>Chat</span>
        </button>
        <button mat-menu-item [routerLink]="['work']">
            <mat-icon color="primary">work</mat-icon>
            <span>Work</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>